---
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro";
import SearchBar from "@/contexts/_shared/client/presentation/components/search-bar.component.astro";
import { getAllPets } from "@/contexts/pets/server/application/usecases/getall-pets.usecase";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";
import ActionLink from "@/contexts/_shared/client/presentation/components/actions/action-link.component.astro";
import SimpleTable from "@/contexts/_shared/client/presentation/components/simple-table.component.astro";
import SimpleCard from "@/contexts/_shared/client/presentation/components/cards/simple-card.component.astro";
import { getAuthenticatedUserIdOrRedirect } from "@/contexts/_shared/server/application/usecases/get-authenticated-user-or-redirect";
import type { PetListItemInfo } from "@/contexts/pets/client/usecases/_interfaces";

/*******************************
 ***** User authentication *****
********************************/
// Probably never redirect from here because it would do so from the middleware
getAuthenticatedUserIdOrRedirect(Astro);

/****************************
 ***** Page paramenters *****
*****************************/
// NO PARAMETERS HERE

/************************************
 ***** Get info to show on page *****
*************************************/
let pets: PetListItemInfo[] = [];
const getPetsResult = await getAllPets();

if (getPetsResult.success) {
    pets = getPetsResult.data ?? [];
}

/*************************
 ***** Table headers *****
**************************/
const tableHeaders = [
    "Nombre (Dueño)",
    "Especie",
    "Raza",
    "N° de citas",
    "N° de baños",
]

---

<ContentContainer>
    <!-- ----------------
    ------ Top bar ------
    ----------------- -->
    <ContentTop>
        Pacientes <!-- MainTitle -->
        <div slot="right" class="flex gap-4">
            <SearchBar id="pet-search" name="pet-search" />
            <ActionLink href="/app/pets/newPet" style="submit">
                Añadir mascota
            </ActionLink>
        </div>
    </ContentTop>
    
    <!-- ------------------
    ------ Main card ------
    ------------------- -->
    <SimpleCard class="flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <!-- -------------------
                ------ Main table ------
                -------------------- -->
                <SimpleTable id="pets-table" headers={tableHeaders} items={pets} itemsName="mascotas" noItemsMessage="No hay mascotas registradas.">
                    {
                        pets.map(pet => 
                            <tr class="relative hover:bg-gray-50 cursor-pointer">
                                <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500 font-medium">
                                    <a href={`/app/pets/${pet.id}`} class="before:absolute before:inset-0" aria-label={`Ver detalles de ${pet.name}`}>
                                        <span class="relative z-10">{pet.name} ({pet.owner ?? "Jhon Doe"}) {pet.isDead ? "*" : ""}</span>
                                    </a>
                                </td>
                                <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500">{pet.species}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500">{pet.subspecies}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500">{pet.medicalAppointmentsCount}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500">{pet.bathsCount}</td>
                            </tr>
                        )
                    }
                </SimpleTable>
            </div>
        </div>
    </SimpleCard>
</ContentContainer>

<script>
    function initializePageScripts() {
        /****************************
         ***** Search bar logic *****
        ****************************/
        const searchInput = document.getElementById("pet-search") as HTMLInputElement;
        const table = document.getElementById('pets-table');
        const tableRows = table?.querySelectorAll('tbody tr');

        const normalizeText = (text: string | null | undefined): string => {
            if (!text) return "";
            return text
                .toLowerCase()
                .normalize("NFD")
                .replace(/\p{M}/gu, "");
        }

        if (searchInput && tableRows) {
            searchInput.addEventListener('input', () => {
                const searchTerm = normalizeText(searchInput.value);

                tableRows.forEach(row => {
                    let rowText = "";
                    row.querySelectorAll('td').forEach(cell => {
                        rowText += normalizeText(cell.textContent);
                    });

                    if (rowText.includes(searchTerm)) {
                        (row as HTMLElement).style.display = '';
                    } else {
                        (row as HTMLElement).style.display = 'none';
                    }
                });
            });
        }
    }

    /************************************
     ***** Run scripts on page load *****
    *************************************/
    document.addEventListener('astro:page-load', () => {
        initializePageScripts();
    });
</script>