---
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro"
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import type { ProfileInfo } from "@/contexts/profiles/client/usecases/get-profile.usecase";
import { getProfileById } from "@/contexts/profiles/server/application/usecases/get-profile.usecase";
import { getRoleById } from "@/contexts/profiles/server/application/usecases/get-role.usecase";
import DeleteProfileDialog from "@/contexts/profiles/client/presentation/components/delete-profile-dialog.component.astro";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";

const { ownerId } = Astro.props;

let profile: ProfileInfo | null = null;
let role: any;

const getProfileResult = await getProfileById(ownerId);
if (getProfileResult.success) {
    profile = getProfileResult.data;
}

const getRoleResult = await getRoleById(import.meta.env.OWNER_ROLE_ID);
if (getRoleResult.success) {
    role = getRoleResult.data;
}

const profileInputs = [
    {
        id: "name",
        name: "name",
        type: "text",
        autocomplete: "name",
        label: "Nombres",
        value: profile?.name,
    },
    {
        id: "lastname",
        name: "lastname",
        type: "text",
        autocomplete: "lastname",
        label: "Apellidos",
        value: profile?.lastname,
    },
    {
        id: "birthday",
        name: "birthday",
        type: "date",
        autocomplete: "birthday",
        label: "Fecha de nacimiento",
        value: profile?.birthday ? (new Date(profile.birthday)).toISOString().split('T')[0] : "",
    },
    {
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        label: "Correo electrónico",
        value: profile?.email,
    },
    {
        id: "phone",
        name: "phone",
        type: "text",
        autocomplete: "phone",
        label: "Teléfono",
        value: profile?.phone,
    },
    {
        id: "role",
        name: "role",
        type: "text",
        autocomplete: "role",
        label: "Rol",
        value: role.name,
        readonly: true,
    },
]
---

<ContentContainer>
    <ContentTop backHref="/app/owners">
        { profile ? "Datos del dueño" : "Nuevo dueño" }
        { profile && 
            <p slot="subtitle" class="mt-1 text-md text-gray-600">
                Revisa y actualiza la información de {profile.name}.
            </p> 
        }
    </ContentTop>
    <form id="profile-form" class="flex justify-center" data-owner-id={profile?.id} data-role-id={profile ? profile.roleId : role.id} novalidate>
        <div class="flex flex-col items-end bg-white rounded-xl shadow-lg p-8 w-full max-w-lg">
            {
                profileInputs.map(input => 
                    <DynamicInput {...input} />
                )
            }
            <div class="mt-8 pt-6 border-t border-gray-200 flex flex-col sm:flex-wrap sm:flex-row sm:justify-end gap-4 w-full">
                <ActionButton id="submit-button" type="submit">
                    { profile ? "Guardar cambios" : "Crear dueño" }
                </ActionButton>
                { profile &&
                    <>
                        <ActionButton id="open-delete-dialog-button" type="danger">
                            Eliminar
                        </ActionButton>
                        <DeleteProfileDialog petName={profile?.name} />
                    </>
                }
            </div>
        </div>
    </form>
</ContentContainer>

<script>
    import { SaveProfileResource } from "@/contexts/profiles/server/interfaces/api/resources/save-profile.resource";
    import { updateProfile } from "@/contexts/profiles/client/usecases/update-profile.usecase";
    import { createProfile } from "@/contexts/profiles/client/usecases/create-profile.usecase";
    import { FormStateManager } from "@/contexts/_shared/client/utils/form-state-manager";

    function initializePageScripts() {
        const form = document.getElementById('profile-form') as HTMLFormElement;
        const submitButton = document.getElementById('submit-button') as HTMLButtonElement;

        if (form && submitButton) {
            const isEditMode = !!form.dataset.ownerId;

            if (isEditMode) {
                const formStateManager = new FormStateManager(form, submitButton);
                formStateManager.initialize();
            } else {
                // En modo creación, el botón debe estar habilitado por defecto
                submitButton.disabled = false;
            }

            const nameInput = document.getElementById('name') as HTMLInputElement;
            const lastnameInput = document.getElementById('lastname') as HTMLInputElement;
            const birthdayInput = document.getElementById('birthday') as HTMLInputElement;
            const emailInput = document.getElementById('email') as HTMLInputElement;
            const phoneInput = document.getElementById('phone') as HTMLInputElement;
            const formError = document.getElementById('form-error') as HTMLDivElement;
            
            const isNewOwner = !form.dataset.ownerId;

            const showError = (input: HTMLInputElement, message: string) => {
                const errorContainer = document.getElementById(`${input.id}-error-container`);
                if (errorContainer) {
                    errorContainer.textContent = message;
                }
                // Cambia el color del borde del input a rojo
                input.classList.remove('outline-gray-300', 'focus:outline-blue-800');
                input.classList.add('outline-red-500', 'focus:outline-red-500');
            }

            const clearError = (input: HTMLInputElement) => {
                const errorContainer = document.getElementById(`${input.id}-error-container`);
                if (errorContainer) {
                    errorContainer.textContent = '';
                }
                // Restaura el color del borde del input
                input.classList.remove('outline-red-500', 'focus:outline-red-500');
                input.classList.add('outline-gray-300', 'focus:outline-blue-800');
            }

            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                // Limpia errores previos
                clearError(nameInput);
                clearError(lastnameInput);
                clearError(birthdayInput);
                clearError(emailInput);
                clearError(phoneInput);
                if (formError) {
                    formError.textContent = '';
                }

                const name = nameInput.value;
                const lastname = lastnameInput.value;
                const birthday = birthdayInput.value;
                const email = emailInput.value;
                const phone = phoneInput.value;

                let isValid = true;

                // Validaciones
                if (!name) {
                    showError(nameInput, 'El nombre es obligatorio');
                    isValid = false;
                } else if (name.length < 3) {
                    showError(nameInput, 'El nombre debe tener al menos 3 caracteres');
                    isValid = false;
                }
                
                if (!lastname) {
                    showError(lastnameInput, 'El apellido es obligatorio');
                    isValid = false;
                } else if (lastname.length < 3) {
                    showError(lastnameInput, 'El apellido debe tener al menos 3 caracteres');
                    isValid = false;
                }

                if (!birthday) {
                    showError(birthdayInput, 'La fecha de nacimiento es obligatoria');
                    isValid = false;
                }

                if (!email) {
                    showError(emailInput, 'El correo es obligatorio');
                    isValid = false;
                } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
                    showError(emailInput, 'Por favor, introduce un correo válido');
                    isValid = false;
                }

                if (!phone) {
                    showError(phoneInput, 'El teléfono es obligatoria');
                    isValid = false;
                }

                if (isValid) {
                    submitButton.disabled = true;
                    const resource = new SaveProfileResource(name, lastname, email, phone, new Date(birthday), form.dataset.roleId!);

                    if (isNewOwner) {
                        submitButton.textContent = 'Creando dueño...';

                        try {
                            const response = await createProfile(resource);
                            if (response.success) {
                                window.location.href = '/app/owners';
                            } else {
                                formError.textContent = response.errorMessage ?? 'Error al crear el dueño. Por favor, inténtalo de nuevo.';
                            }
                        } catch (error) {
                            console.error('Error al crear el dueño:', error);
                            formError.textContent = 'Error al crear el dueño. Por favor, inténtalo de nuevo.';
                        } finally {
                            submitButton.disabled = false;
                            submitButton.textContent = 'Crear dueño';
                        }
                    }
                    else {
                        submitButton.textContent = 'Actualizando dueño...';

                        try {
                            const response = await updateProfile(resource, form.dataset.ownerId!);
                            if (response.success) {
                                window.location.href = '/app/owners';
                            } else {
                                formError.textContent = response.errorMessage ?? 'Error al actualizar dueño. Por favor, inténtalo de nuevo.';
                            }
                        } catch (error) {
                            console.error('Error al actualizar dueño:', error);
                            formError.textContent = 'Error al actualizar dueño. Por favor, inténtalo de nuevo.';
                        } finally {
                            submitButton.disabled = false;
                            submitButton.textContent = 'Guardar cambios';
                        }
                    }
                }
            });
        }

        // --- Lógica para el botón de eliminar ---
        const openDialogButton = document.getElementById('open-delete-dialog-button');
        // Dialog in delete-pet-dialog.component.astro
        const dialog = document.getElementById('delete-dialog');
        const toggleDialog = (show: boolean) => {
            dialog?.classList.toggle('hidden', !show);
        }

        openDialogButton?.addEventListener('click', () => toggleDialog(true));
    }

    // Ejecuta los scripts en la carga inicial de la página (con View Transitions) 
    // y en cada navegación del lado del cliente.
    document.addEventListener('astro:page-load', initializePageScripts);

</script>