---
import petProfilePhoto from "../../../../assets/petProfilePhoto.png";
import PetBaseTextInput from "../../../pets/presentation/components/pet-base-text-input.astro";
import { getAllMedicalAppointmentsByPetId } from "../../usecases/getall-medicalappointments-by-petid.usecase";
import { getPet } from "../../../pets/usecases/get-pet.usecase";

const { petId: petIdString } = Astro.props;

const petId = Number(petIdString);

const pet = getPet(petId);
const medicalHistory = getAllMedicalAppointmentsByPetId(petId);

const inputFields = [
    {
        id: "name",
        name: "name",
        type: "text",
        autocomplete: "name",
        placeholder: "Pepito",
        label: "Nombre",
        value: pet.name,
    },
];

---

<div class="p-4 sm:p-6 lg:p-8 h-full">
    <h2 class="text-2xl font-bold">Historial médico</h2>
    <form class="flex items-center gap-8 h-full">
        <div class="flex flex-col flex-3 items-center rounded-md outline-3 outline-blue-800 px-7 py-15">
            <div class="w-fit">
                <img src={petProfilePhoto.src} alt="Foto de Pepito" class="rounded-full w-40 h-40 object-cover border" />
            </div>
            <PetBaseTextInput {...inputFields[0]} class="w-full" />
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                            <tr>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-0">N° cita</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Fecha de creación</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Última visualización</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            {
                                medicalHistory.map(medicalAppointment => 
                                    <tr class="relative hover:bg-gray-50 cursor-pointer">
                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-center text-gray-900 sm:pl-0">
                                            <a href={`/app/pets/${petId}/medical-history/${medicalAppointment.id}`} class="before:absolute before:inset-0" aria-label={`Ver detalles de la cita número ${medicalAppointment.appointmentNumber} de ${medicalAppointment.doctorName}`}>
                                                <span class="relative z-10">{medicalAppointment.appointmentNumber}</span>
                                            </a>
                                        </td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{medicalAppointment.createdAt}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{medicalAppointment.doctorName}</td>
                                    </tr>
                                )
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>