---
import petProfilePhoto from "@/assets/petProfilePhoto.png";
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro";
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
// import BaseTextInput from "@/contexts/_shared/client/presentation/components/base-text-input.component.astro";
// import BaseTextArea, { type Props as TextAreaProps } from "@/contexts/_shared/client/presentation/components/(old)base-text-area.component.astro";
// import BaseCombobox from "@/contexts/_shared/client/presentation/components/(old)base-combobox.component.astro";
import DeletePetBathDialog from "@/contexts/baths/client/presentation/components/delete-pet-bath-dialog.component.astro";
import { getPet } from "@/contexts/pets/server/application/usecases/get-pet.usecase";
import { getAllProfilesByRoleId } from "@/contexts/profiles/server/application/usecases/get-all-profiles-by-role-id.usecase";
import { getAuthenticatedUserIdOrRedirect } from "@/contexts/_shared/server/application/usecases/get-authenticated-user-or-redirect";
import type { PetInfo } from "@/contexts/pets/client/usecases/get-pet.usecase";
import { getBath, type BathInfo } from "@/contexts/baths/server/application/usecases/get-bath.usecase";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";
import SimpleForm from "@/contexts/_shared/client/presentation/components/forms/simple-form.component.astro";

const authenticatedUserId = getAuthenticatedUserIdOrRedirect(Astro);
const { petId, bathId } = Astro.props;

let pet: PetInfo | null = null;
let bath: BathInfo | null = null;
let doctorProfiles: any[] = [];

const getPetResult = await getPet(petId);
if (getPetResult.success) {
    pet = getPetResult.data ?? null;
}

const getBathResult = await getBath(petId, bathId);
if (getBathResult.data) {
    bath = getBathResult.data ?? null;
}

const getDoctorProfilesResult = await getAllProfilesByRoleId(import.meta.env.VETERINARIAN_ROLE_ID, authenticatedUserId);
if (getDoctorProfilesResult.success) {
    doctorProfiles = getDoctorProfilesResult.data;
    doctorProfiles = doctorProfiles.map(dp => ({
            id: dp.id,
            name: `${dp.name} ${dp.lastname} ${dp.me ? '(Tú)' : ''}`,
            me: dp.me,
        }));
}

const profileInputs = [
    {
        id: "name",
        name: "name",
        type: "text",
        autocomplete: "name",
        label: "Nombre",
        value: pet?.name,
    },
    {
        id: "owner",
        name: "owner",
        type: "text",
        autocomplete: "owner",
        label: "Propietario",
        value: pet?.ownerName,
    },
];

const bathInfoInputs = [
    {
        id: "doctor",
        name: "doctor",
        type: "combobox",
        label: "Veterinario",
        value: bath ? 
            bath?.doctorProfileId.toString()
            : (doctorProfiles && doctorProfiles.length > 0) ? doctorProfiles.find(dp => dp.me === true)?.id.toString() : "",
        options: doctorProfiles ?? [],
    },
];

const bathSections = [
    // {
    //     // id: "details",
    //     title: "Datos del baño",
    //     children: [
    //         {
    //             id: "date",
    //             name: "date",
    //             type: "date",
    //             autocomplete: "bathDate",
    //             label: "Fecha del baño",
    //             value: bath ? 
    //                 bath.bathDate ? (new Date(bath.bathDate)).toISOString().split('T')[0] : ""
    //                 : new Date().toISOString().split('T')[0],
    //         },
    //         // {
    //         //     id: "details",
    //         //     name: "details",
    //         //     label: "Descripción",
    //         //     value: bath?.details,
    //         // }
    //     ],
    //     // name: "details",
    //     // label: "Datos de la cita",
    //     // value: bath?.details,
    // },
    {
        title: "Datos del baño",
        children: [
            {
                id: "date",
                name: "date",
                type: "date",
                label: "Fecha",
                value: bath ? (new Date(bath.bathDate)).toISOString().split('T')[0] : new Date().toISOString().split('T')[0],
            },
            {
                id: "observations",
                name: "observations",
                type: "textarea",
                label: "Observaciones",
                value: bath?.observations,
            },
        ]
    },
    // {
    //     id: "prescription",
    //     name: "prescription",
    //     label: "Receta / Tratamiento",
    //     value: bath?.prescription,
    // },
];

---

<ContentContainer class="h-full">
    <ContentTop backHref={`/app/pets/${petId}/baths-history`}>
        {
            bath ? 
                `Baño N° ${bath?.bathNumber}`
                :
                "Nuevo baño"
        }
    </ContentTop>
    <!-- <form id="bath-form" data-pet-id={pet?.id} data-bath-id={bath?.id} novalidate> -->
    <SimpleForm id="bath-form" dataset={{ petId: pet?.id, bathId: bath?.id }}>
        <div class="grid grid-cols-1 lg:grid-cols-6 gap-8 items-center">
            <div class="lg:col-span-2 flex flex-col gap-6">
                <div class="bg-gray-200 rounded-xl shadow-lg p-7 text-left" transition:name={pet ? `pet-profile-${pet.id}`: ''}>
                    <div class="flex flex-row items-center justify-between mb-3">
                        <h3 class="font-semibold">Datos de la mascota</h3>
                        <a href={`/app/pets/${pet?.id}`} title={`Ver más de ${pet?.name}`} class="text-gray-500 hover:text-gray-800 transition-colors">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                            </svg>
                        </a>
                    </div>
                    <div class="flex flex-row items-center gap-4">
                        <div class="w-30 h-30 shrink-0">
                            <img 
                                src={petProfilePhoto.src} 
                                alt={`Foto de ${pet?.name || 'mascota'}`} 
                                class="rounded-full w-30 h-30 object-cover border-4 border-white shadow-md"
                            />
                        </div>
                        <div class="flex flex-col w-full">
                        {
                            profileInputs.map(profileInput => 
                                <DynamicInput {...profileInput} readonly />
                            )
                        }
                        </div>
                    </div>
                </div>
                <div class="bg-white rounded-xl shadow-lg p-7 text-left">
                    <h3 class="font-semibold mb-3">Información del baño</h3>
                    <div class="flex flex-col items-center w-full">
                    {
                        bathInfoInputs.map(infoInput => 
                                <DynamicInput {...infoInput} />
                        )
                    }
                    </div>
                </div>
            </div>
            <div class="lg:col-span-4 space-y-6">
                {
                    bathSections.map(section => 
                        section.children ?
                            <div class="bg-white rounded-xl shadow-lg p-7 pb-4">
                                <h3 class="mb-3">{section.title}</h3>
                            {
                                section.children.map(child => 
                                    Array.isArray(child) ?
                                        <div class="flex gap-4">
                                        {
                                            child.map(input => 
                                                <DynamicInput {...input} />
                                            )
                                        }
                                        </div>
                                        : 
                                            <DynamicInput {...child} />
                                )
                            }
                            </div>
                            :
                            <div></div>
                    )
                }
            </div>
        </div>
        <div class="flex sm:flex-wrap sm:flex-row sm:justify-end mt-7 gap-4">
            <ActionButton id="submit-button" type="submit" disabled>
                { bath ? "Guardar cambios" : "Crear baño" }
            </ActionButton>
            { bath &&
                <>
                    <ActionButton id="open-delete-dialog-button" type="danger">
                        Eliminar
                    </ActionButton>
                    <DeletePetBathDialog />
                </>
            }
        </div>
    </SimpleForm>
    <!-- </form> -->
</ContentContainer>

<script>
    import { SaveBathResource } from "@/contexts/baths/server/interfaces/api/resources/save-bath.resource";
    import { createBath } from "@/contexts/baths/client/usecases/create-bath.usecase";
    import { updateBath } from "@/contexts/baths/client/usecases/update-bath.usecase";
    import { FormStateManager } from "@/contexts/_shared/client/utils/form-state-manager";
    import { getFormDataObj } from "@/contexts/_shared/client/presentation/components/forms/form-utils";

    function initializePageScripts() {
        const form = document.getElementById('bath-form') as HTMLFormElement | null;
        const submitButton = document.getElementById('submit-button') as HTMLButtonElement;

        if (form && submitButton) {
            const formDataObj = getFormDataObj(form);

            const isEditMode = !!formDataObj.bathId;

            if (isEditMode) {
                const formStateManager = new FormStateManager(form, submitButton);
                formStateManager.initialize();
            } else {
                // En modo creación, el botón debe estar habilitado por defecto
                submitButton.disabled = false;
            }

            const doctorInput = document.getElementById('doctor-value') as HTMLInputElement;
            const dateInput = document.getElementById('date') as HTMLInputElement;
            const observationsInput = document.getElementById('observations') as HTMLInputElement;
            const formError = document.getElementById('form-error') as HTMLDivElement;
            
            const isNewBath = !formDataObj.bathId;

            const showError = (input: HTMLInputElement, message: string) => {
                const errorContainer = document.getElementById(`${input.id}-error-container`);
                if (errorContainer) {
                    errorContainer.textContent = message;
                }
                // Cambia el color del borde del input a rojo
                input.classList.remove('outline-gray-300', 'focus:outline-blue-800');
                input.classList.add('outline-red-500', 'focus:outline-red-500');
            }

            const clearError = (input: HTMLInputElement) => {
                const errorContainer = document.getElementById(`${input.id}-error-container`);
                if (errorContainer) {
                    errorContainer.textContent = '';
                }
                // Restaura el color del borde del input
                input.classList.remove('outline-red-500', 'focus:outline-red-500');
                input.classList.add('outline-gray-300', 'focus:outline-blue-800');
            }

            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                
                clearError(dateInput);
                clearError(observationsInput);
                clearError(doctorInput);

                // Limpia errores previos
                if (formError) {
                    formError.textContent = '';
                }
                              

                const doctor = doctorInput.value;
                const date = dateInput.value;
                const observations = observationsInput.value;

                let isValid = true;

                // Validaciones
                if (!doctor) {
                    showError(document.getElementById('doctor') as HTMLInputElement, 'El veterinario es obligatorio');
                    isValid = false;
                }

                if (!date) {
                    showError(dateInput, 'La fecha de la cita es obligatoria');
                    isValid = false;
                }

                if (!observations) {
                    showError(observationsInput, 'Las observaciones son obligatorias');
                    isValid = false;
                }

                if (isValid) {
                    submitButton.disabled = true;

                    const resource = new SaveBathResource(new Date(date), observations, doctor ?? 0);

                    if (isNewBath) {
                        submitButton.textContent = 'Creando baño...';

                        try {
                            const response = await createBath(formDataObj.petId!, resource);
                            if (response.success) {
                                window.location.href = `/app/pets/${formDataObj.petId!}/baths-history`;
                            } else {
                                formError.textContent = response.errorMessage ?? 'Error al crear baño. Por favor, inténtalo de nuevo.';
                            }
                        } catch (error) {
                            console.error('Error al crear baño:', error);
                            formError.textContent = 'Error al crear baño. Por favor, inténtalo de nuevo.';
                        } finally {
                            submitButton.disabled = false;
                            submitButton.textContent = 'Crear baño';
                        }
                    } else {
                        submitButton.textContent = 'Actualizando baño...';

                        try {
                            const response = await updateBath(formDataObj.petId!, formDataObj.bathId!, resource);
                            if (response.success) {
                                // window.location.reload();
                                window.location.href = `/app/pets/${formDataObj.petId!}/baths-history`;
                            } else {
                                formError.textContent = response.errorMessage ?? 'Error al actualizar el baño. Por favor, inténtalo de nuevo.';
                            }
                        } catch (error) {
                            console.error('Error al actualizar el baño:', error);
                            formError.textContent = 'Error al actualizar el baño. Por favor, inténtalo de nuevo.';
                        } finally {
                            submitButton.disabled = false;
                            submitButton.textContent = 'Guardar cambios';
                        }
                    }
                }
            });
        }

        // --- Lógica para el botón de eliminar ---
        const openDialogButton = document.getElementById('open-delete-dialog-button');
        // Dialog in delete-pet-dialog.component.astro
        const dialog = document.getElementById('delete-dialog');
        const toggleDialog = (show: boolean) => {
            dialog?.classList.toggle('hidden', !show);
        }

        openDialogButton?.addEventListener('click', () => toggleDialog(true));
    }

    // Ejecuta los scripts en la carga inicial de la página (con View Transitions) 
    // y en cada navegación del lado del cliente.
    document.addEventListener('astro:page-load', initializePageScripts);
</script>