---
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro";
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import DeletePetMedicalAppointmentDialog from "@/contexts/medical_histories/client/presentation/components/delete-pet-medical-appointment-dialog.component.astro";
import { getMedicalAppointment, type MedicalAppointmentInfo } from "@/contexts/medical_histories/server/application/usecases/get-medicalappointment.usecase";
import { getPet } from "@/contexts/pets/server/application/usecases/get-pet.usecase";
import { getAllProfilesByRoleId } from "@/contexts/profiles/server/application/usecases/get-all-profiles-by-role-id.usecase";
import { getAuthenticatedUserIdOrRedirect } from "@/contexts/_shared/server/application/usecases/get-authenticated-user-or-redirect";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";
import GridForm from "@/contexts/_shared/client/presentation/components/forms/grid-form.component.astro";
import PetMiniprofileCard from "@/contexts/pets/client/presentation/components/pet-miniprofile-card.component.astro";
import SimpleCard from "@/contexts/_shared/client/presentation/components/cards/simple-card.component.astro";
import type { PetInfo } from "@/contexts/pets/client/usecases/_interfaces";

/*******************************
 ***** User authentication *****
********************************/
// Probably never redirect from here because it would do so from the middleware
const authenticatedUserId = getAuthenticatedUserIdOrRedirect(Astro);

/****************************
 ***** Page paramenters *****
*****************************/
const { petId, medicalAppointmentId } = Astro.props;

/************************************
 ***** Get info to show on page *****
*************************************/
let pet: PetInfo | null = null;
let medicalAppointment: MedicalAppointmentInfo | null = null;
let doctorProfiles: any[] = [];

const getPetResult = await getPet(petId);
if (getPetResult.success) {
    pet = getPetResult.data ?? null;
}

const getMedicalAppointmentResult = await getMedicalAppointment(petId, medicalAppointmentId);
if (getMedicalAppointmentResult.data) {
    medicalAppointment = getMedicalAppointmentResult.data ?? null;
}

const getDoctorProfilesResult = await getAllProfilesByRoleId(import.meta.env.VETERINARIAN_ROLE_ID, authenticatedUserId);
if (getDoctorProfilesResult.success) {
    doctorProfiles = getDoctorProfilesResult.data;
    doctorProfiles = doctorProfiles.map(dp => ({
            id: dp.id,
            name: `${dp.name} ${dp.lastname} ${dp.me ? '(Tú)' : ''}`,
            me: dp.me,
        }));
}

/***********************
 ***** Form inputs *****
************************/
const medicalAppointmentInfoInputs = [
    {
        id: "doctor",
        name: "doctor",
        type: "combobox",
        label: "Veterinario",
        value: medicalAppointment ? 
            medicalAppointment?.doctorProfileId.toString()
            : (doctorProfiles && doctorProfiles.length > 0) ? doctorProfiles.find(dp => dp.me === true)?.id.toString() : "",
        options: doctorProfiles ?? [],
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El veterinario es obligatorio' }
        ],
        showMandatory: true,
    },
];

const medicalAppointmentInputs = [
    {
        id: "weight",
        name: "weight",
        type: "number",
        autocomplete: "weight",
        label: "Peso (kg)",
        value: medicalAppointment?.weight,
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El peso es obligatorio' },
            { validate: ((value: any) => !isNaN(Number(value))).toString(), message: 'El peso debe ser un número' },
            { validate: ((value: any) => Number(value) > 0).toString(), message: 'El peso debe ser mayor a 0' }
        ],
        showMandatory: true,
    },
    {
        id: "date",
        name: "date",
        type: "date",
        autocomplete: "appointmentDate",
        label: "Fecha de la cita",
        value: medicalAppointment ? 
            medicalAppointment.appointmentDate ? (new Date(medicalAppointment.appointmentDate)).toISOString().split('T')[0] : ""
            : new Date().toISOString().split('T')[0],
        validations: [{ 
            validate: ((value: any) => !!value).toString(), message: 'La fecha de la cita es obligatoria' 
        }],
        showMandatory: true,
    },
    {
        id: "observations",
        name: "observations",
        label: "Observaciones",
        type: "textarea",
        value: medicalAppointment?.observations,
        validations: [{ 
            validate: ((value: any) => !!value).toString(), message: 'Las observaciones son obligatorias' 
        }],
        showMandatory: true,
        class: "col-span-full",
    },
    {
        id: "prescription",
        name: "prescription",
        label: "Receta / Tratamiento",
        type: "textarea",
        value: medicalAppointment?.prescription,
        validations: [{ 
            validate: ((value: any) => !!value).toString(), message: 'La receta/tratamiento es obligatoria' 
        }],
        showMandatory: true,
        class: "col-span-full",
    },
];

---

<ContentContainer>
    <!-- ----------------
    ------ Top bar ------
    ----------------- -->
    <ContentTop backHref={`/app/pets/${petId}/medical-history`}>
        {
            // Main Title
            medicalAppointment ? 
                `Cita médica N° ${medicalAppointment?.appointmentNumber}`
                :
                "Nueva cita médica"
        }
    </ContentTop>

    <!-- ------------------
    ------ Main form ------
    ------------------- -->
    <!-- (Important to set editMode) -->
    <GridForm id="medicalappointment-form" editMode={!!medicalAppointment} lgCols={6} dataset={{ petId: pet?.id, medicalAppointmentId: medicalAppointment?.id }}>
        <!-- Left Side -->
        <div class="lg:col-span-2 flex flex-col gap-6">

            <!-- ----------------------------------
            ------ 🐶 Pet mini profiled card ------
            ----------------------------------- -->
            <PetMiniprofileCard pet={pet} />
            <div class="bg-white rounded-xl shadow-lg p-7 text-left">
                <h3 class="font-semibold mb-3">Información de la cita</h3>
                <div class="flex flex-col items-center w-full">
                {
                    medicalAppointmentInfoInputs.map(infoInput => 
                        <DynamicInput {...infoInput} />
                    )
                }
                </div>
            </div>
        </div>

        <!-- -----------------------
        ------ Details card ------
        ------------------------ -->
        <SimpleCard lgColSpan="4">
            <h4 class="mb-4">Detalles de la cita</h4>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-1">
            {
                medicalAppointmentInputs.map(input => 
                    <DynamicInput {...input} />
                )
            }
        </SimpleCard>

        <!-- -----------------------
        ------ Action buttons ------
        ------------------------ -->
        <div class="col-span-full flex sm:flex-wrap sm:flex-row sm:justify-end mt-7 gap-4">
            <ActionButton id="submit-button" type="submit" disabled>
                { medicalAppointment ? "Guardar cambios" : "Crear cita médica" }
            </ActionButton>
            { medicalAppointment &&
                <>
                    <ActionButton id="open-delete-dialog-button" type="danger">
                        Eliminar
                    </ActionButton>
                    <DeletePetMedicalAppointmentDialog />
                </>
            }
        </div>
        
        <div class="form-error col-span-full text-red-500"></div>
    </GridForm>
</ContentContainer>

<script>
    import { SaveMedicalAppointmentResource } from "@/contexts/medical_histories/server/interfaces/api/resources/save-medical-appointment.resource";
    import { createMedicalAppointment } from "@/contexts/medical_histories/client/usecases/create-medicalappointment.usecase";
    import { updateMedicalAppointment } from "@/contexts/medical_histories/client/usecases/update-medicalappointment.usecase";
    import { tryCreateEditRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";

    function initializeForm() {
        const form = document.getElementById('medicalappointment-form') as HTMLFormElement | null;
        if (!form) return;

        /************************
         ***** Submit event *****
        *************************/
        // Before this event, in base-form.astro validations were executed
        form.addEventListener('form:submit', async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } = event.detail;

            /**********************************************
            ***** Register/update medical appointment *****
            ***********************************************/
            const registerOrUpdateMedicalAppointment = async ({ forceUpdate, cancelRedirect }: { forceUpdate?: boolean, cancelRedirect?: boolean } = {}) => {
                const resource = new SaveMedicalAppointmentResource(Number(data.weight), data.observations, data.prescription, new Date(data.date), data.doctor ?? 0);
                const editMode = !!forceUpdate || isEditMode;

                await tryCreateEditRequestOrThrowError({
                    isEditMode,
                    formError,
                    entityDisplayName: 'cita médica',
                    submitButton,
                    makeRequestFunc: async () => !editMode ? await createMedicalAppointment(formDataObj.petId!, resource) 
                                                        : await updateMedicalAppointment(formDataObj.petId!, formDataObj.medicalAppointmentId!, resource),
                    onSuccessFunc: (response: any) => {
                        formDataObj.medicalAppointmentId = response.data.id;

                        if (!cancelRedirect) 
                            window.location.href = `/app/pets/${formDataObj.petId!}/medical-history`;
                    },
                });
            }

            await registerOrUpdateMedicalAppointment();
        });
    }

    function initializeDeleteDialog() {
        /*******************************
         ***** Delete dialog logic *****
        ********************************/
        const openDialogButton = document.getElementById('open-delete-dialog-button');
        const dialog = document.getElementById('delete-dialog');
        const toggleDialog = (show: boolean) => dialog?.classList.toggle('hidden', !show);

        openDialogButton?.addEventListener('click', () => toggleDialog(true));
    }

    /************************************
     ***** Run scripts on page load *****
    *************************************/
    document.addEventListener('astro:page-load', () => {
        initializeForm();
        initializeDeleteDialog();
    });
</script>