---
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro";
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import DeletePetMedicalAppointmentDialog from "@/contexts/medical_histories/client/presentation/components/delete-pet-medical-appointment-dialog.component.astro";
import { getMedicalAppointment, type MedicalAppointmentInfo } from "@/contexts/medical_histories/server/application/usecases/get-medicalappointment.usecase";
import { getPet } from "@/contexts/pets/server/application/usecases/get-pet.usecase";
import { getAllProfilesByRoleId } from "@/contexts/profiles/server/application/usecases/get-all-profiles-by-role-id.usecase";
import { getAuthenticatedUserIdOrRedirect } from "@/contexts/_shared/server/application/usecases/get-authenticated-user-or-redirect";
import type { PetInfo } from "@/contexts/pets/client/usecases/get-pet.usecase";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";
import GridForm from "@/contexts/_shared/client/presentation/components/forms/grid-form.component.astro";
import PetMiniprofileCard from "@/contexts/pets/client/presentation/components/pet-miniprofile-card.component.astro";
import SimpleCard from "@/contexts/_shared/client/presentation/components/cards/simple-card.component.astro";

const authenticatedUserId = getAuthenticatedUserIdOrRedirect(Astro);
const { petId, medicalAppointmentId } = Astro.props;

let pet: PetInfo | null = null;
let medicalAppointment: MedicalAppointmentInfo | null = null;
let doctorProfiles: any[] = [];

const getPetResult = await getPet(petId);
if (getPetResult.success) {
    pet = getPetResult.data ?? null;
}

const getMedicalAppointmentResult = await getMedicalAppointment(petId, medicalAppointmentId);
if (getMedicalAppointmentResult.data) {
    medicalAppointment = getMedicalAppointmentResult.data ?? null;
}

const getDoctorProfilesResult = await getAllProfilesByRoleId(import.meta.env.VETERINARIAN_ROLE_ID, authenticatedUserId);
if (getDoctorProfilesResult.success) {
    doctorProfiles = getDoctorProfilesResult.data;
    doctorProfiles = doctorProfiles.map(dp => ({
            id: dp.id,
            name: `${dp.name} ${dp.lastname} ${dp.me ? '(Tú)' : ''}`,
            me: dp.me,
        }));
}

const medicalAppointmentInfoInputs = [
    {
        id: "doctor",
        name: "doctor",
        type: "combobox",
        label: "Veterinario",
        value: medicalAppointment ? 
            medicalAppointment?.doctorProfileId.toString()
            : (doctorProfiles && doctorProfiles.length > 0) ? doctorProfiles.find(dp => dp.me === true)?.id.toString() : "",
        options: doctorProfiles ?? [],
    },
];

const medicalAppointmentInputs = [
    [
        {
            id: "weight",
            name: "weight",
            type: "number",
            autocomplete: "weight",
            label: "Peso (kg)",
            value: medicalAppointment?.weight,
        },
        {
            id: "date",
            name: "date",
            type: "date",
            autocomplete: "appointmentDate",
            label: "Fecha de la cita",
            value: medicalAppointment ? 
                medicalAppointment.appointmentDate ? (new Date(medicalAppointment.appointmentDate)).toISOString().split('T')[0] : ""
                : new Date().toISOString().split('T')[0],
        },
    ],
    {
        id: "observations",
        name: "observations",
        label: "Observaciones",
        value: medicalAppointment?.observations,
    },
    {
        id: "prescription",
        name: "prescription",
        label: "Receta / Tratamiento",
        value: medicalAppointment?.prescription,
    },
];

---

<ContentContainer class="h-full">
    <ContentTop backHref={`/app/pets/${petId}/medical-history`}>
        {
            // Main Title
            medicalAppointment ? 
                `Cita médica N° ${medicalAppointment?.appointmentNumber}`
                :
                "Nueva cita médica"
        }
    </ContentTop>
    <GridForm id="medicalappointment-form" lgCols={6} dataset={{ petId: pet?.id, medicalAppointmentId: medicalAppointment?.id }}>
        <!-- Left Side -->
        <div class="lg:col-span-2 flex flex-col gap-6">
            <PetMiniprofileCard pet={pet} />
            <div class="bg-white rounded-xl shadow-lg p-7 text-left">
                <h3 class="font-semibold mb-3">Información de la cita</h3>
                <div class="flex flex-col items-center w-full">
                {
                    medicalAppointmentInfoInputs.map(infoInput => 
                        <DynamicInput {...infoInput} />
                    )
                }
                </div>
            </div>
        </div>

        <!-- Right Card -->
        <SimpleCard lgColSpan="4">
            <h4 class="mb-4">Detalles de la cita</h4>
            {
                medicalAppointmentInputs.map(input => 
                    Array.isArray(input) ?
                    <div class="flex gap-4">
                    {
                        input.map(subinput => 
                            <DynamicInput {...subinput} />
                        )
                    }
                    </div>
                    : 
                    <DynamicInput {...input} />
                )
            }
        </SimpleCard>

        <!-- Action Buttons -->
        <div class="col-span-full flex sm:flex-wrap sm:flex-row sm:justify-end mt-7 gap-4">
            <ActionButton id="submit-button" type="submit" disabled>
                { medicalAppointment ? "Guardar cambios" : "Crear cita médica" }
            </ActionButton>
            { medicalAppointment &&
                <>
                    <ActionButton id="open-delete-dialog-button" type="danger">
                        Eliminar
                    </ActionButton>
                    <DeletePetMedicalAppointmentDialog />
                </>
            }
        </div>
    </GridForm>
</ContentContainer>

<script>
    import { SaveMedicalAppointmentResource } from "@/contexts/medical_histories/server/interfaces/api/resources/save-medical-appointment.resource";
    import { createMedicalAppointment } from "@/contexts/medical_histories/client/usecases/create-medicalappointment.usecase";
    import { updateMedicalAppointment } from "@/contexts/medical_histories/client/usecases/update-medicalappointment.usecase";

    function initializeForm() {
        const form = document.getElementById('medicalappointment-form') as HTMLFormElement | null;
        if (!form) return;

        /*****************************
         ***** Input Validations *****
        ******************************/

        // IMPORTANT: validation name must be same as the 'name' attribute of the input
        const validationRules = {
            weight: [
                { validate: (value: string) => !!value, message: 'El peso es obligatorio' },
                { validate: (value: string) => !isNaN(Number(value)), message: 'El peso debe ser un número' },
                { validate: (value: string) => Number(value) > 0, message: 'El peso debe ser mayor a 0' }
            ],
            observations: [
                { validate: (value: string) => !!value, message: 'Las observaciones son obligatorias' }
            ],
            prescription: [
                { validate: (value: string) => !!value, message: 'La receta/tratamiento es obligatoria' }
            ],
            doctor: [
                { validate: (value: string) => !!value, message: 'El veterinario es obligatorio' }
            ],
            date: [
                { validate: (value: string) => !!value, message: 'La fecha de la cita es obligatoria' }
            ]
        };
        
        form.validationRules = validationRules;

        /************************
         ***** Submit event *****
        *************************/

        // Before this event, in base-form.astro validations were executed
        form.addEventListener('form:submit', async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } = event.detail;

            /********************
             ***** Api Call *****
            *********************/

            // If all good, REGISTER/UPDATE
            submitButton.disabled = true;
            submitButton.textContent = !isEditMode ? 'Creando cita médica...' : 'Actualizando cita médica...';

            const resource = new SaveMedicalAppointmentResource(Number(data.weight), data.observations, data.prescription, new Date(data.date), data.doctor ?? 0);
            const actionMessage = !isEditMode ? 'crear' : 'actualizar';
            const badErrorMessage = `Error al ${actionMessage} cita médica. Por favor, inténtalo de nuevo.`;

            try {
                const response = !isEditMode ? await createMedicalAppointment(formDataObj.petId!, resource) : 
                                    await updateMedicalAppointment(formDataObj.petId!, formDataObj.medicalAppointmentId!, resource);

                if (response.success) {
                    window.location.href = `/app/pets/${formDataObj.petId!}/medical-history`;
                } else {
                    formError.textContent = response.errorMessage ?? badErrorMessage;
                }
            } catch (error) {
                console.error(`Error al crear ${actionMessage} médica:`, error);
                formError.textContent = badErrorMessage;
            } finally {
                submitButton.disabled = false;
                submitButton.textContent = !isEditMode ? 'Crear cita médica' : 'Guardar cambios';
            }
        });
    }

    function initializeDeleteDialog() {
        /*******************************
         ***** Delete dialog logic *****
        ********************************/

        const openDialogButton = document.getElementById('open-delete-dialog-button');
        const dialog = document.getElementById('delete-dialog');
        const toggleDialog = (show: boolean) => dialog?.classList.toggle('hidden', !show);

        openDialogButton?.addEventListener('click', () => toggleDialog(true));
    }

    /************************************
     ***** Run scripts on page load *****
    *************************************/
    document.addEventListener('astro:page-load', () => {
        initializeForm();
        initializeDeleteDialog();
    });
</script>