---
import SimpleForm from '@/contexts/_shared/client/presentation/components/forms/simple-form.component.astro';

interface Props {
    id: string;
    title: string;
    dataset?: any;
}
const { 
    id, 
    title,
    dataset,
} = Astro.props;
---
<div id={id} class="relative z-50 hidden" aria-labelledby=`${id}-title` role="dialog" aria-modal="true">
    <!-- Backdrop -->
    <div data-modal-backdrop class="fixed inset-0 bg-gray-500 opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <!-- Modal panel -->
             <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <SimpleForm id={`${id}-form`} dataset={dataset}>
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4 w-full">
                        <h3 class="text-lg font-semibold leading-6 text-gray-900" id=`${id}-title`>{title}</h3>
                        <div class="mt-4">
                            <slot name="body" />
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 gap-3 w-full">
                        <slot name="footer" />
                    </div>
                </SimpleForm>
            </div>
        </div>
    </div>
</div>